:root {
  font-weight: 400;

  color-scheme: light dark;
  background-color: #b6ccba;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #d02e82;
  font-family: 'Anton', sans-serif;
  text-align: left;
  gap: 200px;
  height: 100vh;
}

.landing h1 {
  font-size: 130px;
  margin: 0; /* reset default margin */
}

.landing h2 {
  font-size: 35px;
  margin: 0; /* reset default margin */
}

.getStarted {
  margin-top: 28%;
}

.getStarted button {
  background-color: #c32677;
  width: 150px;
  height: 80px;
  padding: 0 20px;
  color: white;
  font-size: 23px;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  border: none;
  border-radius: 25px;
}

.getStarted button:hover {
  background-color: #ae2c6f;
  color: rgb(228, 228, 228);
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  align-items: center;     /* vertical centering */
  padding-left: 28px;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.welcome h1 {
  color: #c32677;
  font-family: 'Anton', sans-serif;
  font-size: 80px;
}

.main {
  width: 95%;
  height: 80vh;
  margin-top: 10px;
  background-color: #c32677;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Shared column styles */
.first,
.second,
.third {
  height: 90%;
  flex: 1; /* ensures equal width for all */
  border-right: .5px solid white;
  box-sizing: border-box;
}

/* Remove right border from the last one */
.third {
  border-right: none;
}

.numbers {
  border: 1px solid white;
  border-radius: 100%;
  width: 57px;
  height: 60px;
  margin-left: 18px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;   
  justify-content: center;
}